.vs/
**/.vs
**/*.vspscc
**/bin
**/bin/Release
**/bin/x86
**/bin/x86/Debug
**/bin/x86/Release
**/obj
**/obj/x86/Release
**/obj/x86/Debug
*.user
*.nupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets

# TestComplete
Log
Log/
*.tcCfgExtender
*.~tc

NameMapping/Images/*.png
Script/Visualizer/*.png
Script/Visualizer/**/*.png
NameMapping/Images/*.png
Script/Visualizer/*.png
Script/Visualizer/**/*.png

*.png
**/*.png